<mat-card>
  <mat-card-title class="sm:text-lg lg:text-2xl">
    Imperative Search Filter
  </mat-card-title>

  <mat-card-content>
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Search</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input
        matInput
        placeholder="Search"
        autocomplete="off"
        [formControl]="searchField" />
      <mat-icon
        matSuffix
        class="cursor-pointer"
        *ngIf="searchField.value"
        (click)="searchField.setValue('')">
        cancel
      </mat-icon>
    </mat-form-field>

    <mat-list class="divide-y">
      <mat-list-item *ngFor="let client of filteredClients">
        {{ client.firstName }} {{ client.lastName }}
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
